@font-face {
  font-family: Arial Rounded MT Bold;
  src: url(./Font/arlrdbd.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial Rounded MT Bold;
  background-color: white;
}
img {
  max-width: 100%;
}
p {
  font-family: poppins;
}
#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 8vh;
}

.logo {
  width: 15%;
  min-width: 200px;
}

.header_list {
  list-style: none;
  display: flex;
  color: rgb(4, 82, 157);
  width: 30%;
  font-size: 1.2rem;
  justify-content: space-around;
}

.header_list li a {
  text-decoration: none;
  color: rgb(4, 82, 157);
  cursor: pointer;
}

.banner {
  width: 100%;
  background-color: rgb(4, 82, 157);
}
.banner_container {
  color: white;
  display: flex;
  align-items: center;
  padding: 30px 10px;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

#banner_image {
  width: 100%;
}
.banner_text {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  text-align: center;
}
.banner_text h2 {
  font-size: 2rem;
  font-weight: bold;
}
.banner_text p {
  font-family: poppins;
  font-size: 1.3rem;
  font-weight: lighter;
}

.btn {
  background-color: rgb(46, 173, 82);
  border: none;
  color: white;
  font-size: 1.3rem;
  font-family: poppins;
  font-weight: lighters;
  padding: 10px 20px;
  border-radius: 2em;
  cursor: pointer;
  transition: 0.2s;
}
.btn_div {
  display: inline-block;
}
.btn:hover {
  background-color: white;
  color: rgb(46, 173, 82);
}
.row {
  display: flex;
  justify-content: center;
}

#section {
  width: 100%;
  background-color: rgb(46, 173, 82);
  color: white;
}
.section_container {
  margin: auto;
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  gap: 20px;
}
.section_item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px 30px;
  width: 100%;
}
.section_item_text {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.section_item_text h3 {
  font-size: 1.4rem;
}

.sectionTwo_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 1em 1em;
  width: 100%;
  box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
}
.sectionTwo_item:hover {
  animation: border 0.2s forwards;
}

.sectionTwo_item_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sectionTwo_item_text h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-weight: bold;
}
.paddingY {
  padding: 100px 0;
}

#section_gray {
  background-color: rgb(239, 241, 247);
  color: rgb(4, 82, 157);
}

/* .white {
  background-color: white;
} */
.link {
  color: rgb(46, 173, 82);
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 3px 0;
}
.link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(4, 82, 157);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer {
  width: 100%;
  background-color: rgb(4, 82, 157);
  color: white;
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.contacto_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 60%;
  text-align: center;
  margin: auto;
}

.socialMedia {
  display: flex;
  align-items: center;
  width: 20%;
  gap: 60px;
}

.socialMedia a {
  color: white;
}
.socialMedia a:hover {
  color: rgb(37, 146, 68);
}

.footer_footer {
  width: 100%;
  background-color: rgb(7, 62, 114);
  padding: 20px 0;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
}

#burger {
  display: none;
}

#burger div {
  background-color: rgb(46, 173, 82);
  height: 4px;
  width: 35px;
  margin: 5px;
  border-radius: 20px;
}

@keyframes border {
  from {
    box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
  }
  to {
    box-shadow: 0px 12px 32px -2px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 1200px) {
  .header_list {
    width: 50%;
  }
}

@media (max-width: 758px) {
  .header_list {
    display: none;
    position: absolute;
    right: 0;
    top: 8vh;
    height: 30vh;
    background-color: white;
    flex-direction: column;
    align-items: center;
    width: 35%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .logo img {
    height: 100%;
  }
  .logo {
    height: 8vh;
    display: flex;
    justify-content: center;
  }

  .menu_active {
    display: flex;
  }

  .toggle .slide1 {
    transition: all 0.5s;
    transform: translate(0px, 4.5px) rotate(-45deg);
  }
  .toggle .slide3 {
    transition: all 0.5s;
    transform: translate(0px, -4.5px) rotate(45deg);
  }
  .toggle .slide2 {
    display: none;
  }

  #burger {
    display: block;
    position: absolute;
    right: 10.5%;
  }

  .banner_container {
    flex-direction: column;
    align-items: center;
  }
  .section_container {
    flex-direction: column;
  }
}
